/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    width: 100%;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../src/images/adh-arts-festivals-management-joint-honours-ba-hero-02.jpg);
    background-repeat: no-repeat;
}
