  <div class="container"> 
<h2>Welcome to your profile</h2>
<h3>Here are your created events</h3>
    <!--
      <div>Name : </div>   <div> {{ userDetails.firstName }} </div>
      <div>Email : </div>
      <div> {{userDetails.username}} </div>-->

    <div class="row">
      <div class="size">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <li *ngFor="let event of eventsList" >
              <time datetime="2016-02-14">
                  <span class="day">{{ event.date | date : "dd" }}</span>
                  <span class="month">{{ event.date | date : "MMM" }}</span>
                </time>     
            <div class="info">
              <h2 class="title">{{ event.title }}</h2>
              <p class="desc">{{ event.details }}</p>
            </div>   
            <input type="button" class="btn-primary12" value="Delete" (click)="deleteEvent(event)"/>
            <input type="button" class="btn-primary12" value="Edit" (click)="editEvent(event)"/>   
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  
  
  